@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body{
    scroll-behavior: smooth;
    background-color: #F8F8F8;
}

/* _app.css */

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track (the area behind the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #fffafa;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #FD4C31;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e84f37;
  }
  